main {
    text-align: center;
}
ul>li {
    padding: 10px;
}

ul {
    list-style:none;
}

li {
    display:flex;
    align-items: center;
    text-align: left;
}

.icon {
    margin-right:15px;
}


#large-image {
    width: 100%;
    height: 500;
}

@media (min-width: 1670px) {

    div {
        display: inline-block;
        width: 37.5%;
    }

    div > p {
        text-align: left;
        margin-left: 50px;
    }
}

@media (max-width: 1670px) {

    div {
        display: inline-block;
        width: 90%;
    }

    div > p {
        text-align: left;
        margin-left: 50px;
    }
}

header {
    padding-top: 0;
    display: inline-block;
    margin-bottom: 50px;
    width: 100%;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.box-links{
    width:220px;
    height:100px;
    margin:25px;
    background-color:#7bc9d0;

}