main {
    text-align: center;
}

section {
    margin-top: 100px;
}
ul>li {
    padding: 10px;
}

ul {
    list-style:none;
}

li {
    display:flex;
    align-items: center;
    text-align: left;
}

.icon {
    margin-right:15px;
}


#large-image {
    width: 100%;
    height: 500;
}

@media (min-width: 1670px) {

    div {
        display: inline-block;
        width: 37.5%;
    }

    div > p {
        text-align: left;
        margin-left: 50px;
    }
}

@media (max-width: 1670px) {

    div {
        display: inline-block;
        width: 90%;
    }

    div > p {
        text-align: left;
        margin-left: 50px;
    }
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.box-links{
    width: 200px;
    height: 50px;
    background-color: yellow;
    padding: 10px;
    margin: 10px;
    margin-left: 200px;
    line-height: 50px;
    text-align: center;
    border-radius: 5%;
}

a {
    text-decoration: none;
    color: blue;
}