

h1 {
    margin-top: 60px;
    margin-left: 30px;
    font-family: "Montserrat", sans-serif;
    font-weight: normal;
}
div {
     box-sizing: border-box;
     vertical-align: top;
     font-family: "Montserrat", sans-serif;
}
#card1 {
    width: 40%;
    display: inline-block;
    margin: 0px;
    height: auto;
    margin-left: 30px; 
    
    
}
#card2 {
    
    width: 40%;
    display: inline-block;
    margin: 0px;
    margin-left: 100px;
    height: auto;    
    
    
    
    
}
#card3 {
    width: 40%;
    display: inline-block;
    margin: 0px;
    height: auto;
    margin-left: 30px;
    margin-top: 150px;
    
}
#card4 {
    width: 40%;
    display: inline-block;
    margin: 0px;
    height: auto;
    margin-left: 100px;
    margin-top: 150px;
    
}
.button {
    background-color: #3397ff;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid #3397ff;
    width: 130px;
    height: 40px;
    padding-top: 10px;
    border-radius: 6px;
    border: 1px solid black;
    display: inline-block;
    color: white;
    text-decoration: none;
}
a {
    text-decoration: none;
    width: 130px;
}
a:hover {
    color:#3397ff;
}
.button:hover {
    background-color: white;
}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}
nav {
    text-align: center;
}




