#card1 {
    border: 1px solid black;
    width: 40%;
    display: inline-block;
}
#card2 {
    border: 1px solid black;
    width: 40%;
    display: inline-block;
    margin-left: 100px;
}
#card3 {

}
# card4 {
    
}



